/* GitHub Solarized Dark Theme */
:root {
  --color-canvas-default: #002b36;
  --color-canvas-subtle: #073642;
  --color-canvas-inset: #00212b;
  --color-canvas-overlay: #0d3b47;
  --color-fg-default: #839496;
  --color-fg-muted: #657b83;
  --color-fg-subtle: #586e75;
  --color-fg-on-emphasis: #fdf6e3;
  --color-accent-fg: #268bd2;
  --color-accent-emphasis: #1a6ea8;
  --color-accent-muted: rgba(38, 139, 210, 0.4);
  --color-accent-subtle: rgba(38, 139, 210, 0.15);
  --color-success-fg: #859900;
  --color-success-emphasis: #687a00;
  --color-success-muted: rgba(133, 153, 0, 0.4);
  --color-success-subtle: rgba(133, 153, 0, 0.15);
  --color-attention-fg: #b58900;
  --color-attention-emphasis: #906d00;
  --color-attention-muted: rgba(181, 137, 0, 0.4);
  --color-attention-subtle: rgba(181, 137, 0, 0.15);
  --color-danger-fg: #dc322f;
  --color-danger-emphasis: #b02725;
  --color-danger-muted: rgba(220, 50, 47, 0.4);
  --color-danger-subtle: rgba(220, 50, 47, 0.15);
  --color-done-fg: #6c71c4;
  --color-done-emphasis: #4f55a0;
  --color-done-muted: rgba(108, 113, 196, 0.4);
  --color-done-subtle: rgba(108, 113, 196, 0.15);
  --color-sponsors-fg: #d33682;
  --color-sponsors-emphasis: #a82869;
  --color-border-default: #073642;
  --color-border-muted: #00212b;
  --color-border-subtle: rgba(131, 148, 150, 0.1);
  --color-neutral-emphasis-plus: #657b83;
  --color-neutral-emphasis: #657b83;
  --color-neutral-muted: rgba(101, 123, 131, 0.4);
  --color-neutral-subtle: rgba(101, 123, 131, 0.1);
  --color-header-bg: #073642;
  --color-header-logo: #839496;
  --color-header-search-bg: #002b36;
  --color-header-search-border: #073642;
  --color-sidenav-selected-bg: #073642;
  --color-btn-bg: #073642;
  --color-btn-border: rgba(131, 148, 150, 0.1);
  --color-btn-text: #93a1a1;
  --color-btn-primary-bg: #859900;
  --color-btn-primary-border: rgba(131, 148, 150, 0.1);
  --color-btn-primary-text: #fdf6e3;
  --color-btn-primary-hover-bg: #697a00;
  --color-input-bg: #00212b;
  --color-input-border: #073642;
  --color-input-contrast-bg: rgba(0, 0, 0, 0);
  --color-prettylights-syntax-comment: #586e75;
  --color-prettylights-syntax-constant: #268bd2;
  --color-prettylights-syntax-entity: #2aa198;
  --color-prettylights-syntax-keyword: #859900;
  --color-prettylights-syntax-string: #2aa198;
  --color-prettylights-syntax-variable: #cb4b16;
  --color-prettylights-syntax-markup-heading: #268bd2;
  --color-prettylights-syntax-markup-deleted-text: #dc322f;
  --color-prettylights-syntax-markup-inserted-text: #859900;
  --color-prettylights-syntax-markup-changed-text: #b58900;
}
