/* GitHub Nord Theme */
:root {
  --color-canvas-default: #2e3440;
  --color-canvas-subtle: #3b4252;
  --color-canvas-inset: #242933;
  --color-canvas-overlay: #434c5e;
  --color-fg-default: #d8dee9;
  --color-fg-muted: #81a1c1;
  --color-fg-subtle: #4c566a;
  --color-fg-on-emphasis: #eceff4;
  --color-accent-fg: #81a1c1;
  --color-accent-emphasis: #5e81ac;
  --color-accent-muted: rgba(129, 161, 193, 0.4);
  --color-accent-subtle: rgba(129, 161, 193, 0.15);
  --color-success-fg: #a3be8c;
  --color-success-emphasis: #82a06d;
  --color-success-muted: rgba(163, 190, 140, 0.4);
  --color-success-subtle: rgba(163, 190, 140, 0.15);
  --color-attention-fg: #ebcb8b;
  --color-attention-emphasis: #c9a86c;
  --color-attention-muted: rgba(235, 203, 139, 0.4);
  --color-attention-subtle: rgba(235, 203, 139, 0.15);
  --color-danger-fg: #bf616a;
  --color-danger-emphasis: #9a4e55;
  --color-danger-muted: rgba(191, 97, 106, 0.4);
  --color-danger-subtle: rgba(191, 97, 106, 0.15);
  --color-done-fg: #b48ead;
  --color-done-emphasis: #9271a0;
  --color-done-muted: rgba(180, 142, 173, 0.4);
  --color-done-subtle: rgba(180, 142, 173, 0.15);
  --color-sponsors-fg: #b48ead;
  --color-sponsors-emphasis: #9271a0;
  --color-border-default: #4c566a;
  --color-border-muted: #3b4252;
  --color-border-subtle: rgba(216, 222, 233, 0.1);
  --color-neutral-emphasis-plus: #4c566a;
  --color-neutral-emphasis: #4c566a;
  --color-neutral-muted: rgba(76, 86, 106, 0.4);
  --color-neutral-subtle: rgba(76, 86, 106, 0.1);
  --color-header-bg: #3b4252;
  --color-header-logo: #d8dee9;
  --color-header-search-bg: #2e3440;
  --color-header-search-border: #4c566a;
  --color-sidenav-selected-bg: #434c5e;
  --color-btn-bg: #434c5e;
  --color-btn-border: rgba(216, 222, 233, 0.1);
  --color-btn-text: #d8dee9;
  --color-btn-primary-bg: #5e81ac;
  --color-btn-primary-border: rgba(216, 222, 233, 0.1);
  --color-btn-primary-text: #eceff4;
  --color-btn-primary-hover-bg: #4d6f98;
  --color-input-bg: #242933;
  --color-input-border: #4c566a;
  --color-input-contrast-bg: rgba(0, 0, 0, 0);
  --color-prettylights-syntax-comment: #4c566a;
  --color-prettylights-syntax-constant: #81a1c1;
  --color-prettylights-syntax-entity: #88c0d0;
  --color-prettylights-syntax-keyword: #81a1c1;
  --color-prettylights-syntax-string: #a3be8c;
  --color-prettylights-syntax-variable: #d08770;
  --color-prettylights-syntax-markup-heading: #5e81ac;
  --color-prettylights-syntax-markup-deleted-text: #bf616a;
  --color-prettylights-syntax-markup-inserted-text: #a3be8c;
  --color-prettylights-syntax-markup-changed-text: #ebcb8b;
}
